

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #222;
  color: white;
  padding: 1rem;
}


body { background:#000; }
  
.terminal { color:#0f0; font-family: monospace; font-size:18px; background:transparent; border:none; outline:none; }
